html {box-sizing:border-box;} *, *::before, *::after {box-sizing: inherit}

body {
    background-color: rgb(179, 179, 219);
}

.container {
    width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.navbar > p {
    margin: 10px;    
}

.Intro {
    margin-top: 120px;
    margin-bottom: 0px;
    padding-bottom: 6rem;
    border-bottom: 1px solid black;
}

#FullName {
    font-size: 5rem;
    text-align: center;
}

#Title {
    text-align: center;
    font-style: italic;
    font-size: 3rem;
}

#tech {
    text-align: center;
    font-size: 2rem;
}

.react {
    color:rgb(86, 213, 250);
}
  
.node {
    color:rgb(73, 147, 59);
}

.js {
    color:rgb(230, 195, 44);
}

.html5 {
    color: rgb(224, 67, 34);
}

.css3 {
    color: rgb(33, 68, 224);
}

#About, #Portfolio {
    margin: auto; 
    border-bottom: 1px solid black;
    padding-bottom: 4rem;
    margin-top: 50px;
    
}

#aboutheading {
    font-size: 2rem;
    width: 800px;
    margin: auto;
}

#Me {
    display: flex;
    margin: auto;
    width: 800px;
    margin-top: 1rem;
}

.rotate {
    /* -webkit-transform: rotate(90deg);
    transform: rotate(90deg); */
    margin-left: 50px;
}

#cert {
    margin-left: 8rem;
}

#portheading {
    font-size: 2rem;
    width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

#Portfolio {
    display: flex;
}

.projects {
    border: 1px solid black;
    width: 270px; 
    margin: 10px;
}

.projtitle {
    text-align: center;
}

#pic {
    margin-left: 9px;
    margin-top: 5px;
}

#pic {
    background-color: black;;
}

#gh {
    padding-left: 20px;
}

footer {
    border-bottom: 1px solid black;
}

#Contact {
    display: flex;
    justify-content: center;
    margin: auto;
    margin: 50px;
}

#Contact > p {
    margin: 5px;
    font-size: 20px;
}

.email {
    color: white;
}

.linkedin {
    color: white;
    background-color: #0077B5;
    width: 25px;
    height: 23px;
    text-align: center;
    border-radius: 10%;
}

.resume {
    color: white;
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: .5%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: black;
    background-color: black;
    padding: .5px;
    border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color:  rgb(100,100,100);
    border-color: rgb(100,100,100)
}